
<!-- BEGIN HEADER -->
<lt-header></lt-header>
<!-- END HEADER -->

<!-- BEGIN PHOTO GALLERY CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Image Gallery</h2>
            <p class="tip-block">Interactive images that display informative content when hovering</p>
        </div>
    </div>
    <lt-pagination lt-model="$ctrl.photoList" lt-clicked="$ctrl.getPhotos(page)" lt-show="$ctrl.noPhotosReturned"></lt-pagination>
    <div class="row lt-photo-gallery" data-ng-if="!$ctrl.noPhotosReturned">
        <div class="col-sm-3" data-ng-repeat="photo in $ctrl.photoList">
            <div class="photo-wrapper">
                <img class="lt-photo" data-ng-src="{{photo.url}}" alt="Photo-{{photo.id}}"/>
                <div class="lt-photo-info">
                    <p>Id: {{photo.id}}</p>
                    <p class="lt-photo-title">Title: {{photo.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="$ctrl.noPhotosReturned">
        <div class="col-sm-12">
            <div class="alert alert-info">Bummer! There was a problem retrieving the super magnificent photos. Please refresh your browser and try again. Sorry for the inconvenience</div>
        </div>
    </div>
</div>
<!-- END PHOTO GALLERY CONTENT -->

<!-- BEGIN FOOTER -->
<lt-footer></lt-footer>
<!-- END FOOTER -->
