@import './common/scss/_lt-vars';
@import './common/js/header/_header';
@import './common/js/pagination/_pagination';
@import './common/js/footer/_footer';

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h1 {
    color: #333333;
}

h2 {
    font-weight: 200;
    color: #005978;
}

.container {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.col-sm-3 {
    margin-bottom: 30px;
}

.tip-block {
    color: #666666;
}

.lt-photo {
    display: block;
    width: 200px;
    height: 200px;
    -webkit-transition: opacity 0.8s ease;
       -moz-transition: opacity 0.8s ease;
         -o-transition: opacity 0.8s ease;
            transition: opacity 0.8s ease;
    opacity: 1;

    &:hover {
        opacity: 0;
    }

    @media only screen and (max-width: 992px) {
        width: 150px;
        height: 150px;
    }

    @media only screen and (max-width: 768px) {
        width: 400px;
        height: 400px;
    }
}

.lt-photo-info {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 15px;
    padding: 20px;
    -webkit-transition: opacity 0.8s ease;
       -moz-transition: opacity 0.8s ease;
         -o-transition: opacity 0.8s ease;
            transition: opacity 0.8s ease;
    text-align: center;
    opacity: 0;
    color: #666666;
    background-color: #E5E5E5;
    -webkit-box-shadow: inset 0 0 10px #CCCCCC;
       -moz-box-shadow: inset 0 0 10px #CCCCCC;
            box-shadow: inset 0 0 10px #CCCCCC;

    &:hover {
        opacity: 1;
    }

    p:first-child {
        margin-top: 20px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #333333;
    }

    .lt-photo-title {
        font-size: 12px;
    }

    @media only screen and (max-width: 992px) {
        width: 150px;
        height: 150px;
    }

    @media only screen and (max-width: 768px) {
        width: 400px;
        height: 400px;
    }
}
